body, html {
  height: 100%;
}

/* .landingPage {
  width: 100%; 
  height: 100%;
  background-image: url(./plant.jpg);
  background-size: 600px auto;
  background-repeat: no-repeat;
  background-color: black;
  background-position: center;
} */

/* .title {
  color: white;
} */


